@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --red: #DB3534;
    --gray-footer: #201E1E;
}

body {
    max-width: 420px;
    margin: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    font-size: 1.1em;
}

header {
    top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.material-icons {
    margin-top: 10px;
}

header img {
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

#Menu, #closeMenu {
    cursor: pointer;
}

nav {
    display: none;
    align-items: center;
    background-color: var(--red);
    position: fixed;
    transform: translate(-20px, -5px);
    width: 420px;
    margin: auto;
    height: 100vh;
}

nav > div {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

nav > div > div i {
    color: white;
}

#Aviso p:not(:first-child) {
    margin-bottom: 15px;
}

ul {
    padding: 20px;
    font-size: 1.1em;
    font-weight: bolder;
}

ul > li {
    width: fit-content;
    padding: 8px 0px;
    border-bottom: 1px solid transparent;
    list-style: none;
}

ul > li:hover {
    border-bottom: 1px solid white;
}

#entrar {
    margin-bottom: 20px;
    font-size: 1.3em;
}

#entrar:hover {
    border-bottom: 1px solid transparent;
}

#entrar a {
    color: white;
}

#entrar a:hover {
    text-decoration: none;
}

.background-pos-header {
    height: 700px;
    background: black url('imagens/game.png') bottom no-repeat;
    background-size: contain;
    color: white;
}

#aviso {
    color: white;
    border-radius: 50px;
    padding: 0px 5px;
    font-weight: bold;
    border: 1px solid transparent;
}

#aviso:hover {
    border: 1px solid white;
}

#jogar {
    color: white;
    background-color: red;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px;
    display: block;
    width: fit-content;
    margin-top: 20px;
}

#jogar:hover {
    color: black;
    background-color: white;
}

.background-pos-header > div {
    padding: 0px 20px;
    margin: 20px auto;
}

.background-pos-header > div h1 {
    color: red;
    margin-bottom: 10px;
}

.background-pos-header > div p {
    width: 300px;
}

#section2 {
    display: flex;
    flex-direction: column;
}

#s2-div1 {
    padding: 30px 15px;
}

#s2-div1 img {
    width: 100%;
}

#s2-div1 p {
    margin: 20px 0px;
}

#p-menor {
    font-size: 0.9em;
}

#s2-div1 a, #promo a, .garrafa-virtual a {
    color: white;
    background-color: black;
    padding: 12px;
    border-radius: 50px;
    border: 1px solid black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    width: fit-content;
}

#s2-div1 a:hover, #promo a:hover, .garrafa-virtual a:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

#s2-div2 {
    background-image: linear-gradient(#DF3223, #F4B53F);
}

#s2-div2 img {
    margin-bottom: 15px;
    width: 100%;
}

.sem-acucar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 625px;
    background-color: black;
    color: white;
}

#sem-acucar-txt {
    padding: 75px 0px 0px 20px;
}

.sem-acucar h1, #promo h1 {
    color: var(--red);
    font-size: 1.4em;
}

.sem-acucar h2, #promo h2 {
    font-size: 1.9em;
    margin: 10px 0px;
}

.sem-acucar a {
    text-decoration: none;
    color: white;
    border: 1px solid gray;
    padding: 12px;
    border-radius: 50px;
    display: block;
    width: fit-content;
    margin: 10px 0px 20px 0px;
}

.sem-acucar a:hover {
    border: 1px solid white;
}

.sem-acucar img {
    width: 100%;
    margin-bottom: -5px;
}

#promo img {
    width: 100%;
    overflow: hidden;
}

#promo-text {
    padding: 15px;
}

#promo a {
    margin-top: 70px;
}

.garrafa-virtual {
    background-color: #8CD4AE;
    padding: 30px 15px;
}

#gv-text {
    text-align: center;
}

#gv-text h1 {
    
    color: var(--red);
}

#gv-text p {
    margin: 10px 0px;
}

.garrafa-virtual a {
    display: block;
    margin: auto;
    background-color: #000000d4;
    font-size: 0.9em;
}

.cadastre {
    background-color: var(--red);
}

.cadastre img {
    width: 100%;
    margin-bottom: -5px;
}

#cadastre-txt {
    padding: 30px 15px 40px 15px;
    color: white;
    margin-bottom: -2px;
}

#cadastre-txt h1 {
    font-size: 1.6em;
}

#cadastre-txt a {
    color: black;
    background-color: white;
    padding: 15px;
    margin: 15px auto;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    width: fit-content;
}

#svg-1 {
    margin-top: -10px;
    margin-bottom: -95px;
    width: 420px;
    top: 0;
}

footer > div {
    width: 420px;
    margin-bottom: -6px;
}

footer section {
    background-color: var(--gray-footer);
    padding: 15px;
    color: white;
}

#foot-1 {
    padding-top: 30px;
}

#foot-1 ul {
    list-style: none;
    font-size: 1.3em;
    font-weight: bold;
}

#foot-1 li {
    padding: 10px 15px;
    border-bottom: 1px solid gray;
    margin: 0px -15px;
}

#foot-2 > div > a {
    color: white;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    width: fit-content;
    margin-bottom: 20px;
}

#foot-2 > div > a:hover {
    color: black;
    background-color: white;
}

#foot-2 #contato {
    width: 180px;
    border-top: 1px dashed white;
    padding-top: 15px;
}

#img-contato {
    display: flex;
    margin: 30px 0px 0px 0px;
}

#img-contato > div {
    background-color: white;
    border-radius: 50%;
    margin: 0px 5px;
    width: 40px;
    height: 40px;
    padding: 10px 0px 0px 10px;
}

#img-contato > div > a {
    color: var(--gray-footer);
    text-decoration: none;
}

#img-contato > div > a > svg {
    height: 20px;
    width: 20px;
}

#foot-3 {
    background-color: #191919;
}

#text-antpen {
    font-size: 0.7em;
    line-height: 0.9em;
    text-align: center;
}

#text-antpen p {
    font-family: Arial, Helvetica, sans-serif;
}

#ultimo-footer {
    font-weight: bold;
    padding-top: 10px;
    font-size: 0.8em;
    text-align: center;
}